<!DOCTYPE html>
<html>

<head>
    <title>Webview Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="../node_modules/androidjs/lib/androidjs.js"></script>
    <script>
        document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=1"></' + 'script>')
    </script>
</head>

<style>
    .app {
        font-size: 30px;
    }
</style>

<body>

    <div>
        <div class="connect">
        <form>
            <label for="fname">IP address:</label><br>
            <input type="text" id="fname" name="fname"><br>
        </form>
        
        <button  class="button">Connect to AIpy</button>
        </div>
    </div>
</body>

</html>